[submodule "themes/gcactus"]
	path = themes/gcactus
	url = https://github.com/geoffcline/hugo-theme-cactus.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = git@github.com:panr/hugo-theme-terminal.git
